<div class="mt-1 mb-2 p-3 bg-primary text-white rounded text-center">
  <h1>Meine Schulden</h1>
</div>


<div style="border: solid; padding: 1em; margin: 1em" >
  <form [formGroup]="deptsForm" (ngSubmit)="saveDept()">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Total Debts</th>
          <th>Already Paid</th>
          <th>Beneficiary</th>
          <th>Deadline</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let debt of debtList">
          <td>{{ debt.id }}</td>
          <td>{{ debt.total_depts }}</td>
          <td>{{ debt.already_paid }}</td>
          <td>{{ debt.beneficiary }}</td>
          <td>{{ debt.deadline | date }}</td>
          <td>
            <button type="button" class="btn btn-primary text-white" (click)="editDepts(debt)">Edit</button>
            <button type="button" class="btn btn-primary text-white" (click)="removeDebt(debt.id)">Delete</button>
          </td>
        </tr>
        <tr>
          <td><input type="number" formControlName="id"></td>
          <td><input type="number" formControlName="total_depts"></td>
          <td><input type="number" formControlName="already_paid"></td>
          <td><input type="text" formControlName="beneficiary"></td>
          <td><input type="date" formControlName="deadline"></td>
          <td><button type="submit" class="btn btn-primary text-white">Save</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
