.container-kontoanzeige {
  display: flex;
  flex-direction: column;
  width: 300px; /* Anpassen nach Bedarf */
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.header-kontoanzeige {
  flex: 1; /* Nimmt 1 Teil der verfügbaren Höhe ein */
  text-align: center;
  background-color: #00A4D3;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.content {
  flex: 3; /* Nimmt 3 Teile der verfügbaren Höhe ein */
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.balance {
  font-weight: bold;
  margin-bottom: 5px;
}

.current {
  font-style: italic;
}

container-table {
  display: flex;
  flex-direction: column;
}

.rounded-rectangle {
  display: flex; /* Erlaubt horizontale Ausrichtung */
  justify-content: space-between; /* Platz zwischen Einnahmen und Ausgaben */
  width: 89%; /* Breite wie Tabelle */
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid black;
}

.expenditure-section,
.income-section {
  display: flex;
  align-items: center;
}

.label-wrapper {
  display: flex;
  align-items: center;
}

label {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 95%; /* 95% gewählt, da das Label dann bündig mit der Tabelle erscheint */
}

table {
  width: 90%; /* Breite auf 90% gesetzt, damit Tabelle nicht die ganze Seitenbreite ausfüllt */
  border-collapse: collapse; /* Interne Ränder entfernen */
  margin-left: auto;  /* margin left & right auto, damit die Tabelle zentriert wird */
  margin-right: auto;
  margin-top: 10px;
}

thead {
  background-color: #00A4D3; /* Blauer Hintergrund für den Tablehead */
  color: white; /* Weiße Schriftfarbe für den Tablehead */
  text-align: center; /* Text zentrieren */
  font-weight: bold; /* Fettschrift für den Tablehead */
}

th {
  padding: 10px; /* Polsterung für die Tabellenzellen */
  border: 1px solid #ddd; /* Heller Rand für Tabellenzellen */
}

tbody tr {
  background-color: #f8f9fa; /* Heller Hintergrund für den Tablebody */
}

tbody tr:hover {
  background-color: #e8f0fe; /* Hellgrauer Hintergrund beim Hovern */
}

td {
  padding: 10px; /* Polsterung für die Tabellenzellen */
  border: 1px solid #ddd; /* Heller Rand für Tabellenzellen */
}
