.container {
  display: flex;
  flex-direction: column;
  width: 300px; /* Anpassen nach Bedarf */
  border: 1px solid #ccc;
}

.header {
  flex: 1; /* Nimmt 1 Teil der verfügbaren Höhe ein */
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.content {
  flex: 3; /* Nimmt 3 Teile der verfügbaren Höhe ein */
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.balance {
  font-weight: bold;
  margin-bottom: 5px;
}

.current {
  font-style: italic;
}

table {
  width: 80%; /* Optionale Breite für die Tabelle */
  border-collapse: collapse; /* Interne Ränder entfernen */
}

thead {
  background-color: #007bff; /* Blauer Hintergrund für den Tablehead */
  color: white; /* Weiße Schriftfarbe für den Tablehead */
  text-align: center; /* Text zentrieren */
  font-weight: bold; /* Fettschrift für den Tablehead */
}

th {
  padding: 10px; /* Polsterung für die Tabellenzellen */
  border: 1px solid #ddd; /* Heller Rand für Tabellenzellen */
}

tbody tr {
  background-color: #f8f9fa; /* Heller Hintergrund für den Tablebody */
}

tbody tr:hover {
  background-color: #e8f0fe; /* Hellgrauer Hintergrund beim Hovern */
}

td {
  padding: 10px; /* Polsterung für die Tabellenzellen */
  border: 1px solid #ddd; /* Heller Rand für Tabellenzellen */
}
